
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.testContainer{
    width: 40%;
    height: 400px;
    font-family: 'Orbitron', sans-serif;
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;

}
.buttonContainer{
    width: 100%;
    display: flex;
    padding: 5px;
    
}

.timeDisplay{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content:center;
    
}